<script src="../../public/js/chat.js"></script>{%extends 'master' %}

{% block content %}

<div class="chat">

 <input type="text" class="chat-name" placeholder="Enter your name">
 <div class="chat-messages">

 </div>
 <textarea placeholder="Type your message"> </textarea>
 <div class="chat-status">Status:<span class="chat-status-message">Idle</span></div>

</div>

 <script src="https://unpkg.com/adonis-websocket-client/dist/ws.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript">
 const io = ws('');

 const client =  io.channel('chat').connect( console.log);



</script>

<script src="js/chat.js">    </script>
<script type="text/javascript">
 $(document).ready(  Chat.init() );

</script>

{% endblock %}}